body {
  font-family: 'Lato', sans-serif;
  background: #e74c3c;
  color: white;
  font-weight: 100;
}
textarea { background: none; border: 1px solid #f9b1aa; width: 100%; min-height: 120px; font-weight: normal; padding: 20px; color: white; font-size: 36px; }
input[type=submit] { background: white; padding: 20px; font-size: 36px; color: #e74c3c; border: 1px solid white;}
#logo {  }
#logo h2 { font-size: 66px; font-weight: 700; }
#logo .toptext { color: white; }
#logo .bottomtext { color: white; }
#result { font-size: 36px; }

#inputform {   }

.bigbox { width: 800px; margin: 0px auto 0px auto; display: block; text-align: center; }